.container-links {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 750px;
   margin-top: 32px;
}

.container-list {
   width: 90%;
   opacity: 0;
   animation: slideToTop 0.7s 0.6s forwards;
}

.links-header {
   width: 90%;
   display: flex;
   gap: 14px;
   color: #fff;
   animation: show 1.5s 0.3s forwards;
}

.link-item {
   width: 100%;
   display: flex;
   align-items: center;
   margin-top: 8px;
}

.link {
   border: none;
   border-radius: 4px;
   width: 100%;
   height: 46px;
   margin-right: 14px;
   display: flex;
   align-items: center;
   padding: 0 14px;
   background-color: rgb(255,255,255, 0.15);
   color: #fff;
   font-size: 18px;
   overflow: hidden;
   white-space: nowrap;
}

.link > span {
   overflow: hidden;
   text-overflow: ellipsis !important;
}

.link svg {
   flex-shrink: 0;
}

.link-item svg {
   margin-right: 14px;
}

.link-delete {
   width: 30px;
   border: none;
   padding: 3px;
   background-color: transparent;
}

.container-empty-list > h2 {
   width: 100%;
   text-align: center;
   margin-top: 30px;
   color: #fff;
   font-weight: 400;
}

@media (max-width: 500px) {
   .link svg {
      display: none;
   }
}